* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #EEE;
}

h2 {
    font-size: 44px;
    font-weight: 600;
}

h3,
p,
a {
    font-weight: 400;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 17px;
    color: rgb(137, 137, 137);
}

.dark h2,
.dark h3 {
    color: #FFF;
}


.grid {
    display: grid;
    row-gap: 15px;
}

.links-wrapper {
    margin-top: 20px;
}

.links-wrapper>a {
    font-size: 20px;
    margin: 0 20px;
    color: #06c;
}

.links-wrapper>a:hover {
    text-decoration: underline;
}

.main-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.dark {
    background-color: #000;
}

.info-wrapper {
    position: absolute;
    top: 0;
    padding-top: 65px;
    text-align: center;
    z-index: 2;
}

.bottom {
    top: unset;
    bottom: 0;
    padding-bottom: 65px;
}

.animate.info-wrapper.top {
    animation: showUp ease 3s forwards;
}

.animate.info-wrapper.bottom {
    animation: showDown ease 3s backwards 2s;
}

.video-wrapper {
    width: 1440px;
    height: 650px;
    overflow: hidden;
}

video {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes showUp {
    from {
        top: 0;
    }

    to {
        top: -200px;
    }
}

@keyframes showDown {
    from {
        bottom: -200px;
    }

    to {
        bottom: 0;
    }
}
