<link rel="stylesheet" href="css/main.css" />

<div class="wrapper">
  <div class="slide-wrapper">
    <ul class="image-list">
      <li class="image">
        <img src="images/1.jpg" alt="" srcset="" id="image1" />
        <div class="image-info">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nam
            unde, dolorem esse, eius saepe eos, rerum ipsam optio consequuntur
            nobis nemo iusto dolore. Expedita asperiores veniam obcaecati itaque
            autem!
          </p>
          <a href="#">Clique Aqui</a>
        </div>
      </li>
      <li class="image">
        <img src="images/2.png" alt="" srcset="" />
        <div class="image-info">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            tenetur minus temporibus porro nesciunt in quos, laudantium quaerat
            sequi reprehenderit nihil adipisci deserunt omnis deleniti
            perferendis quia corrupti veniam illo?
          </p>
          <a href="#">Clique Aqui</a>
        </div>
      </li>
      <li class="image">
        <img src="images/3.png" alt="" srcset="" />
        <div class="image-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
            perspiciatis mollitia quo dolores. Quidem porro optio consectetur
            cupiditate similique voluptas! Voluptas harum culpa maiores
            voluptatem nobis rerum fugiat est at!
          </p>
          <a href="#">Clique Aqui</a>
        </div>
      </li>
      <li class="image">
        <img src="images/4.png" alt="" srcset="" id="image4" />
        <div class="image-info">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            eaque odit placeat vero laudantium, provident accusamus incidunt
            mollitia omnis voluptatem, ratione perferendis veritatis recusandae
            reprehenderit expedita. Aliquid veritatis vel commodi.
          </p>
          <a href="#">Clique Aqui</a>
        </div>
      </li>
    </ul>
    <div class="slider-controls">
      <ul class="control-list"></ul>
    </div>
  </div>
</div>

<div class="teste"></div>

<script src="js/slider.js"></script>
