@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(borderToRight) {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@include keyframes(borderToDown) {
  from {
    height: 0;
  }
  to {
    height: initial;
  }
}
