@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(appearRight) {
  from {
    right: -1024px;
    opacity: 0;
  }
  85% {
    right: 50px;
  }
  to {
    right: 0;
  }
}

@include keyframes(fadeToBack) {
  to {
    transform: scale(0);
  }
}
