<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/main.css" />

<div class="wrapper">
  <div class="button-wrapper purple">
    <button>Enviar</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="button-wrapper blue">
    <button>Enviar</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="button-wrapper red">
    <button>Enviar</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="button-wrapper yellow">
    <button>Enviar</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="button-wrapper green">
    <button>Enviar</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
